<div id="header">
    <div class="toolbar-wrapper">
        <div class="wrapper d-flex justify-content-between">
            <div class="toolbar-left">
                <ul class="toolbar-list d-flex m-0 p-0">
                    <li class="toolbar-item"><a href="" class="text-uppercase">EMAGAZINE</a></li>
                    <li class="toolbar-item"><a href="" class="text-uppercase">PODCAST</a></li>
                    <li class="toolbar-item"><a href="" class="text-uppercase">SHOWLIVE</a></li>
                </ul>
            </div>
            <div class="toolbar-search-wrapper">
                <form action="">
                    <input type="search" placeholder="Tìm kiếm...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="top-header">
            <div class="wrapper d-flex align-items-center">
                <div class="logo">
                    <a href="">
                        <img src="../../../../assets/images/k14_logo2022.svg" alt="">
                    </a>
                </div>
                <div class="trending-wrapper">
                    <ul class="trending-list d-flex m-0">
                        <li class="trending-item">
                            <a href="">#Lý Dịch Phong bị phong sát</a>
                        </li>
                        <li class="trending-item">
                            <a href="">#Nữ hoàng Anh Elizabeth II qua đời</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="wrapper">
                <ul class="menu-list d-flex m-0">
                    <li class="menu-item home">
                        <a href=""></a>
                    </li>
                    <li class="menu-item">
                        <a href="">Star</a>
                    </li>
                    <li class="menu-item">
                        <a href="">TV Show</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Cine</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Musik</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Beauty & Fashion</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Đời sống</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Money-Z</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Ăn-Quẩy-Đi</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Xã hội</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Thế giới đó đây</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Sport</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Học đường</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Xem mua luôn</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Video</a>
                    </li>
                    <li class="menu-item">
                        <a href=""></a>
                        <div class="menu-expan-wrapper d-none">
                            <ul class="sub-menu">
                                <li class="sub-menu-item">
                                    <h4 class="sub-menu-name"></h4>
                                    <ul class="list-sub-menus">
                                        <li>
                                            <a href=""></a>
                                        </li>
                                        <li>
                                            <a href=""></a>
                                        </li>
                                        <li>
                                            <a href=""></a>
                                        </li>
                                        <li>
                                            <a href=""></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>