<div class="wrapper-left">
    <div class="featured-news">
        <div class="top-focus">
            <div class="row">
                <div class="col-8">
                    <div class="left-newstyle">
                        <a href="" class="thumb-focus" title="Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương">
                            <img src="../../../../../assets/images/thum1.jpg" class="img-fluid w-100" alt="Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương">
                        </a>
                        <h2 class="title-focus">
                            <a href="">Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương</a>
                        </h2>
                        <p class="p-focus">Công an tỉnh Bình Dương cũng thực hiện lệnh khám xét nơi ở của chủ quán karaoke.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="right-newstyle">
                        <a href="" class="thumb-focus" title="NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?">
                            <img src="../../../../../assets/images/thum2.jpg" class="img-fluid w-100" alt="NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?">
                        </a>
                        <h2 class="title-focus">
                            <a href="">NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-wrapper">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="new-stream-wrapper">
        <div class="new-stream-list">
            <div class="home-star">
                <div class="home-star-item">
                    <div class="row">
                        <div class="col-4">
                            <div class="home-star-left">
                                <a href="">
                                    <img src="../../../../../assets/images/home-star1.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="home-star-right">
                                <h3 class="home-star-title">
                                    <a href="">
                                        Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                                    </a>
                                </h3>
                                <div class="home-star-meta">
                                    <a href="" class="home-star-category">Xã hội</a> -
                                    <span class="home-star-time">8 giờ trước</span>
                                </div>
                                <span class="home-star-trim">
                                    Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-news"></div>
</div>