<app-site-header></app-site-header>
<div class="wrapper-gap">
    <div class="wrapper"></div>
</div>
<div class="body-wrapper">
    <div class="content">
        <div class="wrapper">
            <div class="row">
                <div class="col-9">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-3">
                    <app-site-sidebar></app-site-sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>
