<div class="new-stream-wrapper">
    <div class="new-stream-list">
        <div class="home-star">
            <div class="video-stream">
                <div class="video-stream-wrapper d-flex justify-content-between align-items-center">
                    <div class="video-stream-left">
                        <div class="video-content">
                            <video playsinline="playsinline" autoplay controls webkit-playsinline="" tabindex="-1" role="application" muted="muted" src="../../../../../assets/images/hoi-chung-marfan-co-the-gay-nguy-co-tu-vong-cao.mp4"></video>
                        </div>
                    </div>
                    <div class="video-stream-right">
                        <div class="video-stream-info">
                            <div class="video-heading">
                                <div class="video-time">1 giờ trước</div>
                            </div>
                            <div class="video-content">
                                <div class="video-content-top">
                                    <a href="" title="Phố cafe đường tàu có còn cơ hội hồi sinh?">Phố cafe đường tàu có còn cơ hội hồi sinh?</a>
                                    <div class="video-des">
                                        <p class="video-txt">
                                            <a href="" class="video-link">Video News</a> · Sau khi dựng biển nghiêm cấm khách tham quan và thu hồi giấy phép kinh doanh của các cơ sở tại phố cà phê đường tàu (thuộc phường Hàng Bông, quận Hoàn Kiếm, Hà
                                            Nội), Chủ tịch UBND Quận Hoàn Kiếm, ông ...
                                        </p>
                                    </div>
                                </div>
                                <div class="video-content-bottom">
                                    <span class="read-more">Xem thêm</span>
                                    <a href="" target="_blank" class="related-news">
                                        <span class="related-news-thumb">
                                      <i>
                                          <img src="https://videothumbs.mediacdn.vn/kenh14/203336854389633024/2022/9/17/hoi-chung-marfan-co-the-gay-nguy-co-tu-vong-cao-1663420430300160822372.jpg" alt="" class="img-fluid">
                                      </i>
                                      <span class="play-video">
                                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M15 30C6.71652 30 0 23.2835 0 15C0 6.71652 6.71652 0 15 0C23.2835 0 30 6.71652 30 15C30 23.2835 23.2835 30 15 30ZM19.8248 14.769L12.5123 9.44866C12.4722 9.41986 12.4249 9.40265 12.3757 9.39896C12.3265 9.39526 12.2772 9.4052 12.2332 9.42769C12.1893 9.45018 12.1524 9.48435 12.1266 9.52645C12.1008 9.56854 12.0871 9.61693 12.0871 9.6663V20.3002C12.0869 20.3497 12.1004 20.3982 12.1262 20.4405C12.1519 20.4827 12.1888 20.517 12.2329 20.5395C12.2769 20.5621 12.3263 20.572 12.3756 20.5682C12.425 20.5643 12.4722 20.5469 12.5123 20.5179L19.8248 15.2009C19.8593 15.1765 19.8875 15.1441 19.907 15.1065C19.9264 15.0689 19.9366 15.0272 19.9366 14.9849C19.9366 14.9426 19.9264 14.9009 19.907 14.8633C19.8875 14.8258 19.8593 14.7934 19.8248 14.769Z" fill="white"></path>
                                          </svg>
                                      </span>
                                        </span>
                                        <span class="related-news-info">Người cao, gầy dễ mắc hội chứng Marfan</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let post of posts; let i = index">
                <div class="home-star-item">
                    <div class="row">
                        <div class="col-4">
                            <div class="home-star-left">
                                <a href="" routerLink="/{{post.id}}/{{post.slug}}">
                                    <img src="./{{post.img}}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="home-star-right">
                                <h3 class="home-star-title">
                                    <a href="" routerLink="/{{post.id}}/{{post.slug}}">{{post.title}}</a>
                                </h3>
                                <div class="home-star-meta">
                                    <span class="home-star-time"> {{i+1}} giờ trước</span>
                                </div>
                                <span class="home-star-trim">
                               {{post.content}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="slide-trend">
        <div class="slide-trend-info">
            <h3 class="slide-trend-title"><a href="">TIN HAY MỤC XÃ HỘI</a></h3>
            <div class="slide-wrapper">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [keyboard]="{
                    enabled: true
                  }" [pagination]="{
                    clickable: true
                  }" [navigation]="true" class="mySwiper">
                    <ng-container *ngFor="let post of posts; let i = index">
                        <ng-template swiperSlide>
                            <div class="slide-item">
                                <a href="" routerLink="/{{post.id}}/{{post.slug}}" [title]="post.title" type="0" class="slide-item-thumb">
                                    <img src="./{{post.img}}" [alt]="post.title">
                                </a>
                                <h4 class="slide-item-title">
                                    <a href="" routerLink="/{{post.id}}/{{post.slug}}" [title]="post.title">
                                    {{post.title}}
                                    </a>
                                </h4>
                            </div>
                        </ng-template>
                    </ng-container>

                </swiper>
            </div>
        </div>
    </div>
    <div class="new-stream-list">
        <div class="home-star">
            <ng-container *ngFor="let post of posts; let i = index">
                <div class="home-star-item">
                    <div class="row">
                        <div class="col-4">
                            <div class="home-star-left">
                                <a href="" routerLink="/{{post.id}}/{{post.slug}}">
                                    <img src="./{{post.img}}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="home-star-right">
                                <h3 class="home-star-title">
                                    <a href="" routerLink="/{{post.id}}/{{post.slug}}">{{post.title}}</a>
                                </h3>
                                <div class="home-star-meta">
                                    <span class="home-star-time"> {{i+2}} giờ trước</span>
                                </div>
                                <span class="home-star-trim">
                                 {{post.content}}
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>
