<div class="administrator-sidebar">
  <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/administrator/users">{{'administrator.user.common.title' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/administrator/categories">{{'administrator.category.common.title' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/administrator/posts">{{'administrator.post.common.title' | translate}}</a>
  </li>
</ul>
</div>
