.wrapper {
    width: 1040px;
    margin: 0 auto;
}

.wrapper-content {
    padding-right: 10px;
    padding: 0 40px;
    box-sizing: border-box;
    width: 710px;
}

.post-backgroud {
    background: #fff;
    border: 1px solid #e7e8ea;
    display: block;
}