<div class="top-news-wrapper">
    <div class="top-news-list d-flex justify-content-between">
        <div class="top-news-left">
            <div class="top-news-item">
                <a href="" class="top-news-thumb" title='Chuyên gia chia sẻ bí kíp để tránh cảm thấy “dễ bị tổn thương” khi đầu tư'>
                    <img src="https://kenh14cdn.com/zoom/500_314/203336854389633024/2022/9/22/photo1663813671893-1663813672033646447907.jpg" class="img-fluid" alt='Chuyên gia chia sẻ bí kíp để tránh cảm thấy “dễ bị tổn thương” khi đầu tư'>
                </a>
                <h3 class="top-news-title"><a href="">Chuyên gia chia sẻ bí kíp để tránh cảm thấy “dễ bị tổn thương” khi đầu tư</a></h3>
                <span class="top-news-txt">Những góc nhìn mới mẻ của chuyên gia về thị trường chứng khoán.</span>
            </div>
        </div>
        <div class="top-news-right">
            <div class="top-news-item">
                <a href="" class="top-news-thumb" title='Làm sao để không bị bội chi mỗi khi đổi việc?'>
                    <img src="https://kenh14cdn.com/zoom/180_113/203336854389633024/2022/9/22/photo1663808686670-1663808686832617627240.jpg" class="img-fluid" alt='Làm sao để không bị bội chi mỗi khi đổi việc?'>
                </a>
                <h3 class="top-news-title"><a href="">Làm sao để không bị bội chi mỗi khi đổi việc?</a></h3>
            </div>
            <div class="top-news-item">
                <a href="" class="top-news-thumb" title='Làm sao để không bị bội chi mỗi khi đổi việc?'>
                    <img src="https://kenh14cdn.com/zoom/180_113/203336854389633024/2022/9/22/photo1663808686670-1663808686832617627240.jpg" class="img-fluid" alt='Làm sao để không bị bội chi mỗi khi đổi việc?'>
                </a>
                <h3 class="top-news-title"><a href="">Làm sao để không bị bội chi mỗi khi đổi việc?</a></h3>
            </div>
        </div>
    </div>
    <div class="slide-news-wrapper">
        <swiper [slidesPerView]="3" [spaceBetween]="30" [keyboard]="{
        enabled: true
      }" [pagination]="{
        clickable: true
      }" [navigation]="true" class="slide-news-cate">
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                              BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                              Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                              Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                              Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                              BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                              Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                          </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                              Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                          </a>
                    </h4>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>