<div class="post-wrapper">
    <div class="post-header">
        <h1 class="post-tilte">{{title}}</h1>
        <div class="post-meta d-flex justify-content-between">
            <div class="post-meta-left">
                <span class="meta-author">Lê Anh,</span>
                <span class="meta-time">08:04 21/09/2022</span>
            </div>
            <div class="post-meta-right">
                <div class="d-flex">
                    <div class="audio-player">

                    </div>
                    <div class="user-voice-list" [class.active]="voice">
                        <a href="javascript:;" (click)="voice=!voice" title="Chọn giọng đọc">
                            <svg width="30" height="30" class="voice-list" viewBox="0 0 24 24">									<path d="M0 0h24v24H0z" fill="none"></path>									<path d="M21 5v14h2V5h-2zm-4 14h2V5h-2v14zM14 5H2c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1zM8 7.75c1.24 0 2.25 1.01 2.25 2.25S9.24 12.25 8 12.25 5.75 11.24 5.75 10 6.76 7.75 8 7.75zM12.5 17h-9v-.75c0-1.5 3-2.25 4.5-2.25s4.5.75 4.5 2.25V17z"></path>								</svg>
                        </a>
                        <ul class="voice-list ps-0 m-0">
                            <li><a href="">Giọng Nam miền Bắc</a></li>
                            <li><a href="">Giọng Nữ miền Bắc</a></li>
                            <li><a href="">Giọng Nam miền Nam</a></li>
                            <li><a href="">Giọng Nữ miền Nam</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-socials">

        </div>
    </div>
    <div class="post-info">
        <h2>Trưởng nhóm Maroon 5 phủ nhận việc ngoại tình, tuy nhiên anh cho biết bản thân đã ''đi quá giới hạn''.</h2>
        <div class="relation-news-wrapper">
            <ul class="relation-news-list ps-0">
                <li class="relation-news-item"><a href="">Vợ chồng Adam Levine xác nhận sắp có con thứ 3 <i class="icon-show-popup"></i></a></li>
                <li class="relation-news-item"><a href="">Adam Levine và vợ chuẩn bị đón con thứ ba chào đời <i class="icon-show-popup"></i></a></li>
                <li class="relation-news-item"><a href="">Vợ chồng Adam Levine xác nhận sắp có con thứ 3 <i class="icon-show-popup"></i></a></li>
            </ul>
        </div>
        <div class="post-content">
            <p>{{content}}</p>
        </div>
        <div class="post-rate-link"><a href="">"Trai hư" Adam Levine bị bóc phốt "cắm sừng" cựu thiên thần nội y</a></div>
    </div>
    <div class="post-bottom">
        <div class="new-socials">

        </div>
        <div class="new-tags">
            <ul class="tag-list ps-0 d-flex">
                <li class="tag-item"><a href="">adam levine</a></li>
                <li class="tag-item"><a href="">adam levine</a></li>
                <li class="tag-item"><a href="">adam levine</a></li>
            </ul>
        </div>
    </div>
</div>