<div class="same-category-wrapper">
    <div class="same-category-header d-flex">
        <span>TIN CÙNG CHUYÊN MỤC</span>
        <div class="view-by-date">
            <span>Xem theo ngày</span>
        </div>
    </div>
    <div class="same-category-list d-flex flex-wrap justify-content-between">
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
        <div class="same-category-item">
            <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai"><img src="https://kenh14cdn.com/zoom/220_140/203336854389633024/2022/9/21/photo1663722200319-16637222004671883311144.jpg" class="img-fluid" alt=""></a>
            <div class="same-category-info">
                <h4 class="same-category-title">
                    <a href="" title="Đột qụy sau thời gian dài dùng thuốc tránh thai">Đột qụy sau thời gian dài dùng thuốc tránh thai</a>
                    <span>Nổi bật</span>
                </h4>
            </div>
        </div>
    </div>
</div>