<div class="new-stream-wrapper">
    <div class="new-stream-list">
        <div class="home-star">
            <div class="home-star-item">
                <div class="row">
                    <div class="col-4">
                        <div class="home-star-left">
                            <a href="">
                                <img src="../../../../../assets/images/home-star1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="home-star-right">
                            <h3 class="home-star-title">
                                <a href="">
                                  Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                              </a>
                            </h3>
                            <div class="home-star-meta">
                                <a href="" class="home-star-category">Xã hội </a> -
                                <span class="home-star-time"> 8 giờ trước</span>
                            </div>
                            <span class="home-star-trim">
                              Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-star-item">
                <div class="row">
                    <div class="col-4">
                        <div class="home-star-left">
                            <a href="">
                                <img src="../../../../../assets/images/home-star1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="home-star-right">
                            <h3 class="home-star-title">
                                <a href="">
                                  Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                              </a>
                            </h3>
                            <div class="home-star-meta">
                                <a href="" class="home-star-category">Xã hội </a> -
                                <span class="home-star-time"> 8 giờ trước</span>
                            </div>
                            <span class="home-star-trim">
                              Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-star-item">
                <div class="row">
                    <div class="col-4">
                        <div class="home-star-left">
                            <a href="">
                                <img src="../../../../../assets/images/home-star1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="home-star-right">
                            <h3 class="home-star-title">
                                <a href="">
                                  Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                              </a>
                            </h3>
                            <div class="home-star-meta">
                                <a href="" class="home-star-category">Xã hội </a> -
                                <span class="home-star-time"> 8 giờ trước</span>
                            </div>
                            <span class="home-star-trim">
                              Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-star-item">
                <div class="row">
                    <div class="col-4">
                        <div class="home-star-left">
                            <a href="">
                                <img src="../../../../../assets/images/home-star1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="home-star-right">
                            <h3 class="home-star-title">
                                <a href="">
                                  Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                              </a>
                            </h3>
                            <div class="home-star-meta">
                                <a href="" class="home-star-category">Xã hội </a> -
                                <span class="home-star-time"> 8 giờ trước</span>
                            </div>
                            <span class="home-star-trim">
                              Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-star-item news-cate-item">
                <div class="row">
                    <div class="col-4">
                        <div class="home-star-left">
                            <a href="">
                                <img src="../../../../../assets/images/new-cate.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="home-star-right">
                            <h3 class="home-star-title">
                                <a href="">
                                  Xét xử tài xế taxi chiếm đoạt điện thoại của 2 nữ du khách người Nga
                              </a>
                            </h3>
                            <div class="home-star-meta">
                                <a href="" class="home-star-category">Xã hội </a> -
                                <span class="home-star-time"> 8 giờ trước</span>
                            </div>
                            <span class="home-star-trim">
                              Trong quá trình chở 2 nữ du khách nước ngoài, Hưng nảy sinh lòng tham nên đã chiếm đoạt 2 chiếc điện thoại có tổng trị ...
                          </span>
                            <div class="home-star-readmore">
                                <span class="readmore-label">Đọc thêm</span>
                                <ul class="readmore-list">
                                    <li class="readmore-item">
                                        <a href=""></a>
                                    </li>
                                    <li class="readmore-item">
                                        <a href=""></a>
                                    </li>
                                    <li class="readmore-item">
                                        <a href=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
