@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    // text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 250px !important;
    margin-right: 20px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-star-item {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    .home-star-right {
        .home-star-title a {
            font-family: SFD-Bold;
            font-size: 20px;
            line-height: 26px;
            color: #333;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            margin-top: -5px;
        }
        .home-star-meta {
            .home-star-category {
                font-family: SFD-SemiBold;
                font-size: 14px;
                color: #41455e;
                text-decoration: none;
            }
            .home-star-time {
                font-size: 14px;
                color: #777;
            }
        }
        .home-star-trim {
            font-size: 13px;
            font-family: Arial;
            color: #4d4d4d;
            line-height: 18px;
            display: block;
        }
        .home-star-readmore {
            padding-top: 12px;
            margin-top: 15px;
            border-top: 1px dotted #d6d6d6;
            .readmore-label {
                font-size: 11px;
                color: #888;
                display: block;
                margin-bottom: 8px;
            }
            .readmore-list {
                list-style: none;
                padding-left: 0;
                .readmore-item {
                    margin-bottom: 8px;
                    position: relative;
                    &::before {
                        display: block;
                        width: 4px;
                        height: 4px;
                        content: '';
                        background-color: #ff5e34;
                        border-radius: 100%;
                        float: left;
                        margin-top: 8px;
                        margin-right: 9px;
                    }
                    a {
                        font-family: SFD-Bold;
                        font-size: 14px;
                        line-height: 20px;
                        color: #41455e;
                        display: -webkit-box;
                        text-decoration: none;
                        .readmore-time {
                            font-size: 13px;
                            color: #888;
                            font-family: SFD-Medium;
                            &::before {
                                content: ' . ';
                                margin-left: 3px;
                                margin-right: 3px;
                                position: relative;
                                top: -4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Box dang chu y
.remarkable {
    .remarkable-wrapper {
        width: 1040px;
        margin: 0 auto;
        background: #fff;
        padding: 25px 0;
        position: relative;
        margin-top: -1px;
        .remarkable-left {
            background-color: #2b2b2b;
            border-radius: 3px;
            width: 700px;
            margin-right: 20px;
            .remarkable-header {
                height: 40px;
                padding-left: 20px;
                font-family: SFD-Bold;
                font-size: 20px;
                line-height: 38px;
                text-transform: uppercase;
                background: #222;
                color: #fff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                position: relative;
                &::before {
                    display: block;
                    width: 4px;
                    height: 20px;
                    position: absolute;
                    top: 9px;
                    left: 0;
                    background-color: #ff5e34;
                    content: '';
                }
            }
            .remarkable-list {
                .remarkable-item {
                    padding: 25px 0;
                    margin: 0 20px;
                    border-bottom: 1px solid #343434;
                    .remarkable-item-img {
                        margin-right: 20px;
                    }
                    .remarkable-item-content {
                        h3.remarkable-item-title {
                            a {
                                font-family: SFD-Bold;
                                font-size: 20px;
                                line-height: 26px;
                                color: #eee;
                                text-decoration: none;
                                display: block;
                                margin-bottom: 10px;
                                margin-top: -5px;
                            }
                        }
                        .remarkable-item-meta {
                            margin-bottom: 8px;
                            margin-top: 10px;
                            .remarkable-item-view {
                                padding-left: 23px;
                                margin-left: 0;
                                font-size: 12px;
                                color: #888;
                                position: relative;
                                &::before {
                                    width: 18px;
                                    height: 18px;
                                    background-position: -166px -97px;
                                    background-size: 370px;
                                    top: -2px;
                                    position: absolute;
                                    left: 0;
                                    background-image: url(../../../../../assets/images/sprite-k14.20.png);
                                    background-repeat: no-repeat;
                                    content: '';
                                }
                            }
                            .remarkable-item-fb {
                                margin-left: 10px;
                                font-size: 12px;
                                color: #888;
                                position: relative;
                                padding-left: 23px;
                                &::before {
                                    width: 18px;
                                    height: 18px;
                                    background-position: -188px -97px;
                                    background-size: 370px !important;
                                    top: -2px;
                                    position: absolute;
                                    left: 0;
                                    background: url(../../../../../assets/images/sprite-k14.20.png) -189px -98px no-repeat;
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//EDITOR'S PICK
.editor-pick-onstream {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    .editor-pick-header {
        margin-bottom: 15px;
        .ep-header-text {
            font-family: SFD-Bold;
            font-size: 24px;
            color: #333;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
    .editor-pick-news {
        .news-big {
            width: 57%;
            padding-right: 25px;
            margin-right: 25px;
            border-right: 1px solid #e5e5e5;
            flex-shrink: 0;
            .news-big-ava {
                margin-bottom: 15px;
            }
            .news-big-title {
                a {
                    font-family: SFD-Bold;
                    font-size: 20px;
                    line-height: 26px;
                    color: #333;
                    text-decoration: none;
                    display: block;
                    margin-bottom: 10px;
                    margin-top: -5px;
                }
            }
            .news-big-meta {
                margin-bottom: 13px;
                .news-big-category {
                    font-family: SFD-SemiBold;
                    font-size: 14px;
                    color: #41455e;
                    text-decoration: none;
                }
            }
            .news-big-txt {
                font-size: 13px;
                font-family: Arial;
                color: #4d4d4d;
                line-height: 18px;
                display: block;
            }
        }
        .news-small {
            flex-grow: 1;
            padding-right: 20px;
            .news-small-list {
                .news-small-item {
                    margin-bottom: 20px;
                    .news-small-ava {
                        margin-bottom: 10px;
                        a {
                            display: block;
                        }
                    }
                    .news-small-title {
                        line-height: 13px;
                        a {
                            font-family: SFD-Bold;
                            font-size: 16px;
                            line-height: 130%;
                            color: #333;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// Video stream
.video-stream {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    .video-stream-wrapper {
        .video-stream-left {
            width: 320px;
            .video-content {
                width: 320px;
                video {
                    width: 320px;
                }
            }
        }
        .video-stream-right {
            width: 360px;
            .video-stream-info {
                display: flex;
                flex-direction: column;
                height: 100%;
                .video-heading {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .video-time {
                        font-size: 13px;
                        line-height: 150%;
                        font-family: Arial;
                        font-weight: 400;
                        color: #888;
                    }
                }
                .video-content {
                    .video-content-top {
                        a {
                            font-size: 20px;
                            line-height: 24px;
                            font-family: SFD-Bold;
                            color: #333;
                            margin-bottom: 5px;
                            text-decoration: none;
                        }
                        .video-des {
                            .video-txt {
                                font-size: 13px;
                                line-height: 150%;
                                font-family: Arial;
                                font-weight: 400;
                                color: #888;
                                .video-link {
                                    font-size: 13px;
                                    font-weight: 700;
                                    color: #4D4D4D;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .video-content-bottom {
                        span.read-more {
                            font-size: 13px;
                            line-height: 150%;
                            font-family: Arial;
                            font-weight: 400;
                            color: #888;
                            margin-bottom: 10px;
                        }
                        .related-news {
                            display: flex;
                            padding: 12px;
                            border: 1px solid #E5E5E5;
                            box-sizing: border-box;
                            border-radius: 4px;
                            background: #FFF;
                            text-decoration: none;
                            &:hover {
                                background: #f1f1f1;
                            }
                            .related-news-thumb {
                                width: 80px;
                                position: relative;
                                margin-right: 10px;
                                flex-shrink: 0;
                                i {
                                    display: block;
                                    width: 100%;
                                    padding-top: 125%;
                                    position: relative;
                                    img {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        object-fit: cover;
                                    }
                                }
                                .play-video {
                                    display: flex;
                                    width: 30px;
                                    height: 30px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                            .related-news-info {
                                font-size: 15px;
                                line-height: 20px;
                                font-family: SFD-Bold;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mutex video
.mutex-video {
    .mutex-video-left {
        width: 55%;
        .mutex-video-wrapper {
            video {
                width: 100%;
            }
        }
    }
    .mutex-video-right {
        box-sizing: border-box;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        width: 45%;
        position: relative;
        .mutex-right-video-list {
            top: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .mutex-right-header {
                background-color: rgba(0, 2, 34, .1);
                padding: 12px 15px 15px;
                .mutex-header-logo {
                    img {
                        display: block;
                        width: 86px;
                        height: 20px;
                    }
                }
            }
            .mutex-right-scroll {
                ul.list-mutex-video {
                    list-style: none;
                    padding-left: 0px;
                    overflow: hidden;
                    width: auto;
                    height: 100%;
                    .mutex-video-item {
                        padding: 15px;
                        border-bottom: 1px solid #f1f1f1;
                        cursor: pointer;
                        transition: all .3s;
                        opacity: .6;
                        .video-content {
                            padding-right: 10px;
                            position: relative;
                            .video-ava {
                                width: 45px;
                                height: 45px;
                                margin-right: 10px;
                                border-radius: 3px;
                                overflow: hidden;
                                position: relative;
                                flex-shrink: 0;
                            }
                            .video-info {
                                .video-info-table {
                                    .video-info-table-cell {
                                        .video-link {
                                            font-family: SFD-Bold;
                                            font-size: 13px;
                                            display: inline-block;
                                            color: #333;
                                            margin-bottom: 3px;
                                            text-decoration: none;
                                            line-height: 16px;
                                        }
                                        .video-view {
                                            font-family: SFD-Medium;
                                            font-size: 12px;
                                            color: #888;
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
