.home-star-item {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    .home-star-right {
        .home-star-title a {
            font-size: 20px;
            line-height: 26px;
            color: #333;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            margin-top: -5px;
        }
        .home-star-meta {
            .home-star-category {
                font-size: 14px;
                color: #41455e;
                text-decoration: none;
            }
            .home-star-time {
                font-size: 14px;
                color: #777;
            }
        }
        .home-star-trim {
            font-size: 13px;
            font-family: Arial;
            color: #4d4d4d;
            line-height: 18px;
            display: block;
        }
        .home-star-readmore {
            padding-top: 12px;
            margin-top: 15px;
            border-top: 1px dotted #d6d6d6;
            .readmore-label {
                font-size: 11px;
                color: #888;
                display: block;
                margin-bottom: 8px;
            }
            .readmore-list {
                list-style: none;
                padding-left: 0;
                .readmore-item {
                    margin-bottom: 8px;
                    position: relative;
                    &::before {
                        display: block;
                        width: 4px;
                        height: 4px;
                        content: '';
                        background-color: #ff5e34;
                        border-radius: 100%;
                        float: left;
                        margin-top: 8px;
                        margin-right: 9px;
                    }
                    a {
                        font-family: SFD-Bold;
                        font-size: 14px;
                        line-height: 20px;
                        color: #41455e;
                        display: -webkit-box;
                        text-decoration: none;
                        .readmore-time {
                            font-size: 13px;
                            color: #888;
                            font-family: SFD-Medium;
                            &::before {
                                content: ' . ';
                                margin-left: 3px;
                                margin-right: 3px;
                                position: relative;
                                top: -4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Box dang chu y
.remarkable {
    .remarkable-wrapper {
        width: 1040px;
        margin: 0 auto;
        background: #fff;
        padding: 25px 0;
        position: relative;
        margin-top: -1px;
        .remarkable-left {
            background-color: #2b2b2b;
            border-radius: 3px;
            width: 715px;
            .remarkable-header {
                height: 40px;
                padding-left: 20px;
                font-family: SFD-Bold;
                font-size: 20px;
                line-height: 38px;
                text-transform: uppercase;
                background: #222;
                color: #fff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                position: relative;
                &::before {
                    display: block;
                    width: 4px;
                    height: 20px;
                    position: absolute;
                    top: 9px;
                    left: 0;
                    background-color: #ff5e34;
                    content: '';
                }
            }
            .remarkable-list {
                .remarkable-item {
                    padding: 25px 0;
                    margin: 0 20px;
                    border-bottom: 1px solid #343434;
                    .remarkable-item-img {
                        margin-right: 20px;
                    }
                    .remarkable-item-content {
                        h3.remarkable-item-title {
                            a {
                                font-family: SFD-Bold;
                                font-size: 20px;
                                line-height: 26px;
                                color: #eee;
                                text-decoration: none;
                                display: block;
                                margin-bottom: 10px;
                                margin-top: -5px;
                            }
                        }
                        .remarkable-item-meta {
                            margin-bottom: 8px;
                            margin-top: 10px;
                            .remarkable-item-view {
                                padding-left: 23px;
                                margin-left: 0;
                                font-size: 12px;
                                color: #888;
                                position: relative;
                                &::before {
                                    width: 18px;
                                    height: 18px;
                                    background-position: -166px -97px;
                                    background-size: 370px;
                                    top: -2px;
                                    position: absolute;
                                    left: 0;
                                    background-image: url(../../../../../assets/images/sprite-k14.20.png);
                                    background-repeat: no-repeat;
                                    content: '';
                                }
                            }
                            .remarkable-item-fb {
                                margin-left: 10px;
                                font-size: 12px;
                                color: #888;
                                position: relative;
                                padding-left: 23px;
                                &::before {
                                    width: 18px;
                                    height: 18px;
                                    background-position: -188px -97px;
                                    background-size: 370px !important;
                                    top: -2px;
                                    position: absolute;
                                    left: 0;
                                    background: url(../../../../../assets/images/sprite-k14.20.png) -189px -98px no-repeat;
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
        .remarkable-right {}
    }
}