<div class="category-wrapper">
    <div class="category-news d-flex flex-wrap justify-content-between">
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_213/203336854389633024/2022/9/19/photo1663548551330-1663548551878144637167.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
                <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_213/203336854389633024/2022/9/19/photo1663548551330-1663548551878144637167.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
                <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item fashion-cat">
            <h2 class="cate-name"><a href="">BEAUTY & FASHION</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_446/203336854389633024/2022/9/19/photo1663547659999-166354766029976992223.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">5 tips chăm sóc da mọng mướt, ngậm nước căng bóng</a></h3>
                <!-- <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p> -->
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item fashion-cat">
            <h2 class="cate-name"><a href="">BEAUTY & FASHION</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_446/203336854389633024/2022/9/19/photo1663547659999-166354766029976992223.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">5 tips chăm sóc da mọng mướt, ngậm nước căng bóng</a></h3>
                <!-- <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p> -->
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item travel-cat">
            <h2 class="cate-name"><a href="">XEM-ĂN-CHƠI</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_213/203336854389633024/2022/9/19/photo1663548551330-1663548551878144637167.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
                <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p>
            </div>
            <ul class="cate-list mt-0">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/340_213/203336854389633024/2022/9/19/photo1663548551330-1663548551878144637167.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
                <p class="cate-txt">"Kiên quyết không tha thứ, không để các ngôi sao kém tài thất đức xuất hiện trên truyền thông" là phương châm hành động của cơ quan quản lý ...</p>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="slide-trend">
        <div class="slide-trend-heading d-flex justify-content-between">
            <h3 class="trend-title"><span>Tag hot</span></h3>
            <a href="" class="trend-next"><span>TRENDING TAG</span></a>
        </div>
        <div class="slide-trend-info">
            <h3 class="slide-trend-title"><a href="">Lý Dịch Phong bị phong sát</a></h3>
            <div class="slide-wrapper">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [keyboard]="{
            enabled: true
          }" [pagination]="{
            clickable: true
          }" [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                                  BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                                  Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                                  Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                                  Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                                  BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                                  Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="slide-item">
                            <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                                <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                            </a>
                            <h4 class="slide-item-title">
                                <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                                  Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                              </a>
                            </h4>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
    <div class="other-sites-wrapper category-news d-flex flex-wrap justify-content-between">
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/210_131/pr/2022/photo1663489949242-1663489949841320228482-63799177265885.png" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/210_131/pr/2022/photo1663489949242-1663489949841320228482-63799177265885.png" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://kenh14cdn.com/zoom/210_131/pr/2022/photo1663489949242-1663489949841320228482-63799177265885.png" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="other-sites-wrapper category-news d-flex flex-wrap justify-content-between">
        <div class="cate-news-item soha">
            <h2 class="cate-name"><a href="">TIN HOT TỪ SOHA</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://sohanews.mediacdn.vn/zoom/210_131/160588918557773824/2022/9/18/photo1663476556499-1663476557181626648409.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item family">
            <h2 class="cate-name"><a href="">TIN HAY AFAMILY</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://sohanews.mediacdn.vn/zoom/210_131/160588918557773824/2022/9/18/photo1663476556499-1663476557181626648409.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
        <div class="cate-news-item family">
            <h2 class="cate-name"><a href="">Đẹp</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img src="https://sohanews.mediacdn.vn/zoom/210_131/160588918557773824/2022/9/18/photo1663476556499-1663476557181626648409.jpg" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
                <li class="cate-item">
                    <h4><a href="">Bức ảnh khiến khán giả tranh luận về V và Jennie</a></h4>
                </li>
            </ul>
        </div>
    </div>
</div>
