<div class="featured-cate-wrapper">
    <div class="featured-cate d-flex justify-content-between">
        <div class="featured-cate-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/327_205/203336854389633024/2022/9/20/photo1663657257445-16636572576701283114110.png" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item d-flex">
                    <a href="" class="cate-item-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/60_60/203336854389633024/2022/9/20/photo1663660429504-1663660429811529277764.jpg" alt=""></a>
                    <h4><a href="">"Trai hư" Adam Levine bị bóc phốt "cắm sừng" cựu thiên thần nội y</a></h4>
                </li>
                <li class="cate-item d-flex">
                    <a href="" class="cate-item-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/60_60/203336854389633024/2022/9/20/photo1663660429504-1663660429811529277764.jpg" alt=""></a>
                    <h4><a href="">"Trai hư" Adam Levine bị bóc phốt "cắm sừng" cựu thiên thần nội y</a></h4>
                </li>

            </ul>
        </div>
        <div class="featured-cate-item">
            <h2 class="cate-name"><a href="">Star</a></h2>
            <div class="cate-info">
                <a href="" class="cate-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/327_205/203336854389633024/2022/9/20/photo1663657257445-16636572576701283114110.png" alt=""></a>
                <h3 class="cate-title"><a href="">Tại sao Trung Quốc quyết cấm sóng nghệ sĩ có scandal đạo đức?</a></h3>
            </div>
            <ul class="cate-list">
                <li class="cate-item d-flex justify-content-between">
                    <a href="" class="cate-item-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/60_60/203336854389633024/2022/9/20/photo1663660429504-1663660429811529277764.jpg" alt=""></a>
                    <h4><a href="">"Trai hư" Adam Levine bị bóc phốt "cắm sừng" cựu thiên thần nội y</a></h4>
                </li>
                <li class="cate-item d-flex justify-content-between">
                    <a href="" class="cate-item-thumb"><img class="img-fluid" src="https://kenh14cdn.com/zoom/60_60/203336854389633024/2022/9/20/photo1663660429504-1663660429811529277764.jpg" alt=""></a>
                    <h4><a href="">"Trai hư" Adam Levine bị bóc phốt "cắm sừng" cựu thiên thần nội y</a></h4>
                </li>

            </ul>
        </div>

    </div>
</div>