<div class="hot-daily-wrapper">
    <h3 class="hot-daily-header">Tin nổi bật kenh 14</h3>
    <div class="hot-daily-content">
        <div class="d-flex justify-content-between">
            <div class="hot-daily-left">
                <a class="hot-daily-thumb" href="" title='Một trời một vực số phận "Tứ đại lưu lượng" xứ Trung sau 7 năm'>
                    <img class="img-fluid" src="https://kenh14cdn.com/zoom/460_290/203336854389633024/2022/9/21/photo1663694850229-16636948510531487302534.jpg" alt="">
                </a>
                <h4 class="hot-daily-title">
                    <a href="" title='Một trời một vực số phận "Tứ đại lưu lượng" xứ Trung sau 7 năm'>Một trời một vực số phận "Tứ đại lưu lượng" xứ Trung sau 7 năm</a>
                </h4>
                <p class="hot-daily-txt">Cuộc sống, sự nghiệp của "Tứ đại lưu lượng" Lý Dịch Phong, Dương Dương, Ngô Diệc Phàm và Lộc Hàm luôn thu hút sự quan tâm lớn từ công chúng.</p>
            </div>
            <div class="hot-daily-right">
                <a class="hot-daily-thumb" href="" title='Hoa hậu Mai Phương diện trang phục dân tộc, cư dân mạng thất vọng toàn tập'>
                    <img class="img-fluid" src="https://kenh14cdn.com/zoom/220_290/203336854389633024/2022/9/21/photo1663726549908-1663726550271285213398.jpg" alt="">
                </a>
                <h4 class="hot-daily-title">
                    <a href="" title='Hoa hậu Mai Phương diện trang phục dân tộc, cư dân mạng thất vọng toàn tập'>Hoa hậu Mai Phương diện trang phục dân tộc, cư dân mạng thất vọng toàn tập</a>
                </h4>
            </div>
        </div>
    </div>
</div>