<div class="administrator-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <h1 class="mb-2 text-center">{{'auth.common.login' | translate}}</h1>
        <div [ngClass]="['alert alert-danger alert-dismissible fade', errors.length > 0 && 'show']" role="alert"
          *ngIf="errors.length > 0">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>

          A simple danger alert—check it out!
        </div>
        <!-- Login form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-3">
            <label for="email">{{'auth.common.email' | translate}}</label>
            <input type="email" formControlName="email" class="form-control" id="email"
              [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && f.email.errors }" />

            <p *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="mt-2 invalid-feedback">
              <span *ngIf="f.email.errors?.required">
                {{'auth.common.emailRequired' | translate}}
              </span>
              <span *ngIf="f.email.errors?.email">
                {{'auth.common.emailNotType' | translate}}
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <label for="password">{{'auth.common.password' | translate}}</label>
            <input type="password" formControlName="password" class="form-control" id="password"
              [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched) && f.password.errors }" />
            <p *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="mt-2 invalid-feedback">

              <span *ngIf="f.password.errors?.required">
                {{'auth.common.passwordRequired' | translate}}
              </span>
              <span *ngIf="f.password.errors?.minlength">
                {{'auth.common.passwordMinLength' | translate}}
              </span>
              <span *ngIf="f.password.errors?.pattern">
                {{'auth.common.passwordRegex' | translate}}
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span>{{'auth.common.login' | translate}}</span>
            </button>
            <a routerLink="/auth/register" class="btn btn-link">{{'auth.common.register' | translate}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
