<div class="administrator-main">
  <div class="container">
    <div class="dropdown justify-content-end d-flex">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{'common.language.'+language| translate}}
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" (click)="useLanguage('vi')">{{'common.language.vi' | translate}}</a></li>
        <li><a class="dropdown-item" (click)="useLanguage('en')">{{'common.language.en' | translate}}</a></li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <h1 class="mb-2 text-center">{{'auth.common.login' | translate}}</h1>
        <div [ngClass]="['alert alert-danger alert-dismissible fade', result.length > 0 && 'show']" role="alert" *ngIf="result.length > 0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Danger:">
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          <span *ngFor="let error of result">{{error}}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- Login form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-3">
            <label for="email">{{'auth.common.email' | translate}}</label>
            <input type="email" formControlName="email" class="form-control" id="email"
              [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && (f.email.errors  || errors.email)}" />

            <p *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="mt-2 invalid-feedback">
              <span *ngIf="f.email.errors?.required">
                {{'auth.common.emailRequired' | translate}}
              </span>
              <span *ngIf="f.email.errors?.email">
                {{'auth.common.emailNotType' | translate}}
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <label for="password">{{'auth.common.password' | translate}}</label>
            <input type="password" formControlName="password" class="form-control" id="password"
              [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched) && (f.password.errors || errors.password) }" />
            <p *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="mt-2 invalid-feedback">

              <span *ngIf="f.password.errors?.required">
                {{'auth.common.passwordRequired' | translate}}
              </span>
              <span *ngIf="f.password.errors?.minlength">
                {{'auth.common.passwordMinLength' | translate}}
              </span>
              <span *ngIf="f.password.errors?.pattern">
                {{'auth.common.passwordRegex' | translate}}
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span>{{'auth.common.login' | translate}}</span>
            </button>
            <a routerLink="/auth/register" class="btn btn-link">{{'auth.common.register' | translate}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
