<div class="administrator-main">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-4">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && f.email.errors }" />

            <p *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="mt-2 invalid-feedback">

              <span *ngIf="f.email.errors?.required">
                Bạn chưa nhập email
              </span>
              <span *ngIf="f.email.errors?.email">
                Email không hợp lệ
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched) && f.password.errors }" />
            <p *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="mt-2 invalid-feedback">

              <span *ngIf="f.password.errors?.required">
                Bạn chưa nhập mật khẩu
              </span>
              <span *ngIf="f.password.errors?.minlength">
                Ít nhất 8 ký tự
              </span>
              <span *ngIf="f.password.errors?.pattern">
                Mật khẩu chứa ít nhất 1 chữ thường, 1 chữ in hoa, 1 ký tự số và 1 ký tự đặc biệt
              </span>
            </p>
          </div>
          <div class="form-group mt-3">
            <button [disabled]="loginForm.invalid" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
            <a routerLink="/auth/register" class="btn btn-link">Register</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
