<div class="featured-news">
    <div class="top-focus">
        <div class="row">
            <div class="col-8">
                <div class="left-newstyle">
                    <a href="" class="thumb-focus" title="Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương">
                        <img src="../../../../../assets/images/thum1.jpg" class="img-fluid w-100" alt="Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương">
                    </a>
                    <h2 class="title-focus">
                        <a href="">Bắt tạm giam chủ quán karaoke bị cháy khiến 32 người chết ở Bình Dương</a>
                    </h2>
                    <p class="p-focus">Công an tỉnh Bình Dương cũng thực hiện lệnh khám xét nơi ở của chủ quán karaoke.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="right-newstyle">
                    <a href="" class="thumb-focus" title="NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?">
                        <img src="../../../../../assets/images/thum2.jpg" class="img-fluid w-100" alt="NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?">
                    </a>
                    <h2 class="title-focus">
                        <a href="">NÓNG: Sau khi biết điểm chuẩn, thí sinh cần làm gì để không bỏ lỡ cơ hội vào Đại học?</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-wrapper">
        <swiper [slidesPerView]="3" [spaceBetween]="30" [keyboard]="{
      enabled: true
    }" [pagination]="{
      clickable: true
    }" [navigation]="true" class="mySwiper">
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                            BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                            Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663484036817-16634840370471234996255.jpg" alt="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn">
                            BLACKPINK trở lại: Nâng tầm phong cách, cân bằng nét Mỹ - Hàn
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663489337402-16634893375871761877278.png" alt="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới">
                            Khánh Thi: 13 năm chưa đăng ký kết hôn nên giờ vợ chồng tôi như mới yêu và mới cưới
                        </a>
                    </h4>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-item">
                    <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người" type="0" class="slide-item-thumb">
                        <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2022/9/18/photo1663478715230-1663478715366681255226.jpeg" alt="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                    </a>
                    <h4 class="slide-item-title">
                        <a href="" title="Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người">
                            Vụ 60 người Việt tháo chạy khỏi Campuchia: Yêu cầu giao thêm 11 người
                        </a>
                    </h4>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>